## FINAL TEST RUN

In [3]:
import pandas as pd

In [4]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import ExtraTreesRegressor,ExtraTreesClassifier,RandomForestClassifier,RandomForestRegressor
import numpy as _np
import json
import joblib

In [5]:
AllData = pd.read_csv('2018-2020 Sales,COVID,Demogrphics,Types.csv')

In [6]:
AllData['Bill Date'] = pd.to_datetime(AllData['Bill Date'], dayfirst=True)

In [31]:
Statedf = AllData[(AllData['State'] == 'California')&(AllData['Year'] == 2020)]

In [5]:
Statedf['Bill Date'] = pd.to_datetime(Statedf['Bill Date'], dayfirst=True)

In [6]:
Statedf.columns

Index(['Sub Brand', 'Bill Date', 'Qty', 'Brand', 'State', 'County',
       'Geographical Classification', 'R_Res', 'B_Res', 'S_Res', 'G_Res',
       'NE_Res', 'SAH', 'EM', 'FM', 'Q_Res', 'Covid cases', 'Zip Eliminated',
       'age_median', 'family_size', 'income_household_median',
       'education_college_or_above', 'labor_force_participation',
       'unemployment_rate', 'race_white', 'race_black', 'race_asian',
       'race_native', 'race_pacific', 'race_other', 'race_multiple', 'Year',
       'Series ', 'Brand.1', 'CCG ', 'LDW', 'Months'],
      dtype='object')

In [32]:
Statedf = Statedf.groupby(['State','County','Brand','Bill Date']).agg({'Qty':'sum','Covid cases':'first','age_median':'first', 
                                                       'family_size':'first', 'income_household_median':'first',
                                                       'education_college_or_above':'first', 'labor_force_participation':'first',
                                                       'unemployment_rate':'first', 'Months':'first'}).reset_index()

In [33]:
Statedf = fdm.update_predictions(Statedf,'Orders_Pan','California')

In [34]:
Statedf = fdm.update_predictions(Statedf,'Sales_Pan','California')

In [35]:
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

5.65111260661742

In [90]:
D = pd.read_excel('New Microsoft Excel Worksheet.xlsx')

In [91]:
D['Bill Date'] = pd.to_datetime(D['Bill Date'],dayfirst=True)

In [93]:
Months = []
for date in D['Bill Date']:
    m = date.month
    Months.append(m)
D['Months'] = Months

In [118]:
D = fdm.update_predictions(D,'Orders_Pan','New York')
#D = fdm.update_predictions(D,'Sales_Nhist','New York')

In [80]:
D

,Bill Date,Covid cases,State,County,age_median,family_size,income_household_median,education_college_or_above,labor_force_participation,unemployment_rate,Months,SAH,EM,Natural Sales
0,2020-01-09,32165,6,New York,36.7,2.69,88526,68.1,71.1,4.5,1,1,0,31
1,2020-02-09,32218,6,New York,36.7,2.69,88526,68.1,71.1,4.5,2,1,0,1
2,2020-03-09,32251,6,New York,36.7,2.69,88526,68.1,71.1,4.5,3,1,0,63
3,2020-04-09,32310,6,New York,36.7,2.69,88526,68.1,71.1,4.5,4,1,0,63
4,2020-05-09,32372,6,New York,36.7,2.69,88526,68.1,71.1,4.5,5,1,0,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-10-27,35897,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,1,0,50
57,2020-10-28,36076,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,1,0,50
58,2020-10-29,36224,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,1,0,50
59,2020-10-30,36400,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,1,0,50
60,2020-10-31,36522,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,1,0,50

In [71]:
sum(D['Sales Pan'].to_list())

4584.900000000005

In [69]:
NewYork = AllData[(AllData['State']=='New York')&(AllData['County']=='New York')&(AllData['Year']==2019)
                 &(AllData['Months']==10)]

In [72]:
30*37.3

1119.0

In [101]:
sum(NewYork['Qty'].to_list())

2716

In [65]:
l = pd.DataFrame(columns = ['Sales', 'Year'])

In [66]:
l['Sales'] = [m,k]
l['Year'] = [2019, 'Prediction']

In [67]:
l

    Sales        Year
0  4936.0        2019
1  4584.9  Prediction

In [16]:
#California
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

1.4027981300760277

In [13]:
Statedf = Statedf[Statedf['Covid cases'] != 0]

In [28]:
%%time
state = 'Montana'
Statedf = AllData[(AllData['State'] == state)&(AllData['Year'] == 2020)]
Statedf = Statedf.groupby(['State','County','Bill Date']).agg({'Qty':'sum','Covid cases':'first','age_median':'first', 
                                                       'family_size':'first', 'income_household_median':'first',
                                                       'education_college_or_above':'first', 'labor_force_participation':'first',
                                                       'unemployment_rate':'first', 'Months':'first'}).reset_index()
Statedf = fdm.update_predictions(Statedf,'Orders_Pan',state)
Statedf = fdm.update_predictions(Statedf,'Sales_Pan',state)

Wall time: 1.98 s

In [19]:
#Florida
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

0.8494276764874711

In [21]:
#New York
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

1.0924587950818987

In [23]:
#Utah
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

0.9717728263502072

In [25]:
#Nebraska
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

3.5066277615673274

In [27]:
#Hawaii
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

1.0839265850945505

In [29]:
#Montana
actual = sum(Statedf['Sales Pan'].to_list())/sum(Statedf['Qty'].to_list())
actual

0.7357111787733775

In [122]:
Years = AllData.groupby(['Year','State','County','Bill Date']).agg({'Qty':'sum','Covid cases':'first','SAH':'first',
                                                                   'EM':'first'}).reset_index()

In [120]:
AllData.columns

Index(['Sub Brand', 'Bill Date', 'Qty', 'Brand', 'State', 'County',
       'Geographical Classification', 'R_Res', 'B_Res', 'S_Res', 'G_Res',
       'NE_Res', 'SAH', 'EM', 'FM', 'Q_Res', 'Covid cases', 'Zip Eliminated',
       'age_median', 'family_size', 'income_household_median',
       'education_college_or_above', 'labor_force_participation',
       'unemployment_rate', 'race_white', 'race_black', 'race_asian',
       'race_native', 'race_pacific', 'race_other', 'race_multiple', 'Year',
       'Series ', 'Brand.1', 'CCG ', 'LDW', 'Months'],
      dtype='object')

In [123]:
Months = []
for date in Years['Bill Date']:
    m = date.month
    Months.append(m)
Years['Months'] = Months
Years

       Year       State   County  Bill Date  Qty  Covid cases SAH EM  Months
0      2018  California  Alameda 2018-01-03   16            0   N  N       1
1      2018  California  Alameda 2018-01-04   25            0   N  N       1
2      2018  California  Alameda 2018-01-05  113            0   N  N       1
3      2018  California  Alameda 2018-01-06  163            0   N  N       1
4      2018  California  Alameda 2018-01-07   89            0   N  N       1
...     ...         ...      ...        ...  ...          ...  .. ..     ...
83715  2020        Utah    Weber 2020-08-24    1         3113   R  M       8
83716  2020        Utah    Weber 2020-08-26    2         3171   R  M       8
83717  2020        Utah    Weber 2020-08-27    1         3191   R  M       8
83718  2020        Utah    Weber 2020-08-30    2         3273   R  M       8
83719  2020        Utah    Weber 2020-08-31    1         3280   R  M       8

[83720 rows x 9 columns]

In [128]:
struct_data = Years.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
le = LabelEncoder()
for col in non_numeric_columns:
    if col in struct_data.columns:
        i = struct_data.columns.get_loc(col)
        struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                   result_type='expand')
x = struct_data[
                ['State', 'County', 'Covid cases','Bill Date', 'Months']]
y = struct_data['Qty']
model = ExtraTreesRegressor(n_estimators=10,random_state=42, bootstrap=True)
model.fit(x,y)

ExtraTreesRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=10, n_jobs=None, oob_score=False,
                    random_state=42, verbose=0, warm_start=False)

In [129]:
model.feature_importances_

array([0.04805081, 0.40598228, 0.07037726, 0.38020905, 0.0953806 ])

In [10]:
from sklearn.model_selection import train_test_split

In [94]:
D

,Bill Date,Covid cases,State,County,age_median,family_size,income_household_median,education_college_or_above,labor_force_participation,unemployment_rate,Months
0,2020-01-09,32165,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,1
1,2020-02-09,32218,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,2
2,2020-03-09,32251,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,3
3,2020-04-09,32310,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,4
4,2020-05-09,32372,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,5
...,...,...,...,...,...,...,...,...,...,...,...
56,2020-10-27,35897,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10
57,2020-10-28,36076,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10
58,2020-10-29,36224,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10
59,2020-10-30,36400,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10
60,2020-10-31,36522,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10

In [130]:
struct_data = D.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in non_numeric_columns:
    if col in struct_data.columns:
        i = struct_data.columns.get_loc(col)
        struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                   result_type='expand')

df = struct_data[['State', 'County', 'Bill Date', 'Covid cases','Months']]
df.columns = ['State', 'County', 'Bill_Date', 'Covid_cases','Months']
# Create an empty list
Row_list = []
# Iterate over each row
for index, rows in df.iterrows():
        # Create list for the current row
    my_list = [rows.State, rows.County, rows.Bill_Date, rows.Covid_cases, rows.Months]
        # append the list to the final list
    Row_list.append(my_list)
salelist = []
for row in Row_list:
    sale = model.predict([row])
    salelist.append(sale[0])
D['Sales Pan'] = salelist

In [131]:
D[D['Months']==10]

,Bill Date,Covid cases,State,County,age_median,family_size,income_household_median,education_college_or_above,labor_force_participation,unemployment_rate,Months,Natural Sales,Sales Pan,SAH,EM
9,2020-10-09,32551,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,121.5,3.3,1,0
39,2020-10-10,34296,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,89.3,3.3,1,0
42,2020-10-13,34501,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,85.0,3.3,1,0
43,2020-10-14,34569,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,72.5,3.3,1,0
44,2020-10-15,34637,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,72.5,3.3,1,0
45,2020-10-16,34735,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,72.5,3.3,1,0
46,2020-10-17,34871,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,149.5,3.3,1,0
47,2020-10-18,34991,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,139.3,3.3,1,0
48,2020-10-19,35054,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,139.3,3.3,1,0
49,2020-10-20,35125,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,117.8,3.3,1,0
50,2020-10-21,35249,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,97.3,3.3,1,0
51,2020-10-22,35345,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,67.1,3.3,1,0
52,2020-10-23,35459,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,65.3,3.3,1,0
53,2020-10-24,35610,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,59.4,3.3,1,0
54,2020-10-25,35723,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,81.9,3.3,1,0
55,2020-10-26,35789,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,197.9,3.3,1,0
56,2020-10-27,35897,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,230.3,3.3,1,0
57,2020-10-28,36076,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,150.0,3.3,1,0
58,2020-10-29,36224,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,71.0,3.3,1,0
59,2020-10-30,36400,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,109.7,3.3,1,0
60,2020-10-31,36522,6,New York,36.7,2.69,88526,68.1,71.1,4.5,10,129.3,3.3,1,0

In [97]:
struct_data = D.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
le = LabelEncoder()
for col in non_numeric_columns:
    if col in struct_data.columns:
        i = struct_data.columns.get_loc(col)
        struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                   result_type='expand')
df = struct_data[['State', 'County', 'Bill Date', 'Months']]
df.columns =['State', 'County', 'Bill_Date', 'Months']
        # Create an empty list
Row_list = []

        # Iterate over each row
for index, rows in df.iterrows():
            # Create list for the current row
    my_list = [rows.State, rows.County, rows.Bill_Date, rows.Months]

            # append the list to the final list
    Row_list.append(my_list)
salelist = []
for row in Row_list:
    sale = model.predict([row])
    salelist.append(sale[0])
D['Natural Sales'] = salelist

In [98]:
D

,Bill Date,Covid cases,State,County,age_median,family_size,income_household_median,education_college_or_above,labor_force_participation,unemployment_rate,Months,Natural Sales
0,2020-01-09,32165,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,1,75.1
1,2020-02-09,32218,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,2,94.2
2,2020-03-09,32251,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,3,249.0
3,2020-04-09,32310,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,4,103.7
4,2020-05-09,32372,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,5,144.9
...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-10-27,35897,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10,230.3
57,2020-10-28,36076,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10,150.0
58,2020-10-29,36224,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10,71.0
59,2020-10-30,36400,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10,109.7
60,2020-10-31,36522,New York,New York,36.7,2.69,88526,68.1,71.1,4.5,10,129.3

In [99]:
Sum = D[D['Months'] == 10]

In [100]:
sum(Sum['Natural Sales'].to_list())

2318.3999999999996

In [9]:
from sklearn.externals import joblib

In [105]:
def createNatHistory(state):
    State = Years[Years['State'] == state]
    struct_data = State.copy()
    non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
    le = LabelEncoder()
    for col in non_numeric_columns:
        if col in struct_data.columns:
            i = struct_data.columns.get_loc(col)
            struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                       result_type='expand')
    x = struct_data[
                ['State', 'County', 'Bill Date', 'Months']]
    y = struct_data['Qty']
    model = ExtraTreesRegressor(n_estimators=10,random_state=42, bootstrap=True)
    model.fit(x,y)
    joblib.dump(model, f'.\DataModels\State\Predict Sales\{state}\History_Sales.joblib')

In [108]:
for state in Years['State'].unique():
    createNatHistory(state)

In [9]:
AllData.columns

Index(['Sub Brand', 'Bill Date', 'Qty', 'Brand', 'State', 'County',
       'Geographical Classification', 'R_Res', 'B_Res', 'S_Res', 'G_Res',
       'NE_Res', 'SAH', 'EM', 'FM', 'Q_Res', 'Covid cases', 'Zip Eliminated',
       'age_median', 'family_size', 'income_household_median',
       'education_college_or_above', 'labor_force_participation',
       'unemployment_rate', 'race_white', 'race_black', 'race_asian',
       'race_native', 'race_pacific', 'race_other', 'race_multiple', 'Year',
       'Series ', 'Brand.1', 'CCG ', 'LDW', 'Months'],
      dtype='object')

In [43]:
BySubBrand = AllData.groupby(['State','County','Brand','Sub Brand','Bill Date']).agg({'Qty':'sum','Covid cases':'first','Months':'first', 'Year':'first'}).reset_index()

In [44]:
BySubBrand.columns

Index(['State', 'County', 'Brand', 'Sub Brand', 'Bill Date', 'Qty',
       'Covid cases', 'Months', 'Year'],
      dtype='object')

In [45]:
Feature_importances = pd.DataFrame(columns = ['Features', 'RFC', 'RFR', 'ETC','ETR'])
Acc = pd.DataFrame(columns = ['RFC', 'RFR', 'ETC','ETR'])

In [46]:
%%time
import numpy as _np
struct_data = BySubBrand.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in non_numeric_columns:
    if col in struct_data.columns:
        i = struct_data.columns.get_loc(col)
        struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                   result_type='expand')
x = struct_data[
                ['State', 'County', 'Brand', 'Sub Brand', 'Bill Date',
       'Covid cases', 'Months', 'Year']]
y = struct_data['Qty']
# Xtrain, Xtest, Ytrain, Ytest = train_test_split(x, y, test_size=0.25, random_state=10)
Feature_importances['Features'] = x.columns

Wall time: 19.9 s

In [27]:
def ExtraTreesR(Xtrain, Xtest, Ytrain, Ytest):
    model = ExtraTreesRegressor(n_estimators=10,random_state=10, bootstrap=True)
    model.fit(Xtrain,Ytrain)
    yPred = model.predict(Xtest)
    ytest = Ytest.to_list()
    diff = [abs(ytest[i] - yPred[i]) for i in range(len(ytest))]
    d0 = [ele for ele in diff if ele==0]
    d10 = [ele for ele in diff if ele<10]
    d20 = [ele for ele in diff if ele<20]
    Countac = sum(yPred)/sum(ytest)
    ETRac0 = len(d0)/len(diff)
    ETRac10 = len(d10)/len(diff)
    ETRac20 = len(d20)/len(diff)
    ETRac = [ETRac0,ETRac10,ETRac20, Countac]
    ETR = model.feature_importances_
    Feature_importances['ETR'] = ETR
    Acc['ETR'] = ETRac

In [28]:
def ExtraTreesC(Xtrain, Xtest, Ytrain, Ytest):
    model = ExtraTreesClassifier(n_estimators=10,random_state=10, bootstrap=True)
    model.fit(Xtrain,Ytrain)
    yPred = model.predict(Xtest)
    ytest = Ytest.to_list()
    diff = [abs(ytest[i] - yPred[i]) for i in range(len(ytest))]
    d0 = [ele for ele in diff if ele==0]
    d10 = [ele for ele in diff if ele<10]
    d20 = [ele for ele in diff if ele<20]
    Countac = sum(yPred)/sum(ytest)
    ETRac0 = len(d0)/len(diff)
    ETRac10 = len(d10)/len(diff)
    ETRac20 = len(d20)/len(diff)
    ETRac = [ETRac0,ETRac10,ETRac20, Countac]
    ETR = model.feature_importances_
    Feature_importances['ETC'] = ETR
    Acc['ETC'] = ETRac

In [29]:
def RandomForC(Xtrain, Xtest, Ytrain, Ytest):
    model = RandomForestClassifier(n_estimators=10,random_state=10, bootstrap=True)
    model.fit(Xtrain,Ytrain)
    yPred = model.predict(Xtest)
    ytest = Ytest.to_list()
    diff = [abs(ytest[i] - yPred[i]) for i in range(len(ytest))]
    d0 = [ele for ele in diff if ele==0]
    d10 = [ele for ele in diff if ele<10]
    d20 = [ele for ele in diff if ele<20]
    Countac = sum(yPred)/sum(ytest)
    ETRac0 = len(d0)/len(diff)
    ETRac10 = len(d10)/len(diff)
    ETRac20 = len(d20)/len(diff)
    ETRac = [ETRac0,ETRac10,ETRac20, Countac]
    ETR = model.feature_importances_
    Feature_importances['RFC'] = ETR
    Acc['RFC'] = ETRac

In [30]:
def RandomForR(Xtrain, Xtest, Ytrain, Ytest):
    model = RandomForestRegressor(n_estimators=10,random_state=10, bootstrap=True)
    model.fit(Xtrain,Ytrain)
    yPred = model.predict(Xtest)
    ytest = Ytest.to_list()
    diff = [abs(ytest[i] - yPred[i]) for i in range(len(ytest))]
    d0 = [ele for ele in diff if ele==0]
    d10 = [ele for ele in diff if ele<10]
    d20 = [ele for ele in diff if ele<20]
    Countac = sum(yPred)/sum(ytest)
    ETRac0 = len(d0)/len(diff)
    ETRac10 = len(d10)/len(diff)
    ETRac20 = len(d20)/len(diff)
    ETRac = [ETRac0,ETRac10,ETRac20, Countac]
    ETR = model.feature_importances_
    Feature_importances['RFR'] = ETR
    Acc['RFR'] = ETRac

In [31]:
%%time
ExtraTreesC(Xtrain, Xtest, Ytrain, Ytest)

Wall time: 3min 2s

In [34]:
%%time
ExtraTreesR(Xtrain, Xtest, Ytrain, Ytest)

Wall time: 5.79 s

In [37]:
%%time
RandomForC(Xtrain, Xtest, Ytrain, Ytest)

Wall time: 2min 49s

In [40]:
%%time
RandomForR(Xtrain, Xtest, Ytrain, Ytest)

Wall time: 12.3 s

In [45]:
Acc.to_csv('Accuracies', index=False)
Feature_importances.to_csv('Features', index=False)

In [43]:
struct_data

,State,County,Brand,Sub Brand,Bill Date,Qty,Covid cases,Months,Year
0,0,3,0,4,842,1,1603,4,2020
1,0,3,0,5,792,2,4,3,2020
2,0,3,0,5,798,1,27,3,2020
3,0,3,0,6,70,250,0,3,2018
4,0,3,0,6,76,11,0,3,2018
...,...,...,...,...,...,...,...,...,...
390016,7,396,6,419,639,1,0,10,2019
390017,7,396,6,422,63,1,0,3,2018
390018,7,396,6,424,478,1,0,4,2019
390019,7,396,6,424,493,1,0,5,2019
390020,7,396,7,22,217,1,0,8,2018

In [44]:
BySubBrand

,State,County,Brand,Sub Brand,Bill Date,Qty,Covid cases,Months,Year
0,California,Alameda,LENOVO-CHROME,100E CHROME 2ND GEN AST,2020-04-30,1,1603,4,2020
1,California,Alameda,LENOVO-CHROME,100E CHROME 2ND GEN MTK,2020-03-11,2,4,3,2020
2,California,Alameda,LENOVO-CHROME,100E CHROME 2ND GEN MTK,2020-03-17,1,27,3,2020
3,California,Alameda,LENOVO-CHROME,100E CHROMEBOOK,2018-03-13,250,0,3,2018
4,California,Alameda,LENOVO-CHROME,100E CHROMEBOOK,2018-03-19,11,0,3,2018
...,...,...,...,...,...,...,...,...,...
390016,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P53S,2019-10-08,1,0,10,2019
390017,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P71,2018-03-06,1,0,3,2018
390018,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P72,2019-04-29,1,0,4,2019
390019,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P72,2019-05-14,1,0,5,2019
390020,Utah,Weber,THINK-CHROME,11E CHROMEBOOK,2018-08-08,1,0,8,2018

In [68]:
Keys = pd.DataFrame(columns=['County','County Encoded'])
Keys['County'] = BySubBrand['County'].to_list()
Keys['County Encoded'] = struct_data['County'].to_list()

In [69]:
Keys = Keys.groupby('County').agg({'County Encoded':'first'}).reset_index()
KeyD = Keys.to_dict()
Subs = Keys['County'].to_list()
SubsE = Keys['County Encoded'].to_list()

In [70]:
NewK = {}
for i in range(len(Subs)):
    NewK.update({Subs[i]:SubsE[i]})

In [59]:
import json

In [71]:
with open(".\DataModels\DICTIONARIES_DO_NOT_DEL\Counties.json", "w") as outfile:  
    json.dump(NewK, outfile)

In [73]:
Acc

        RFC       RFR       ETC       ETR
0  0.549525  0.198367  0.553371  0.182102
1  0.845845  0.822985  0.846830  0.816637
2  0.882202  0.868757  0.883207  0.864644
3  0.948089  1.084137  0.880386  1.095110

In [74]:
Feature_importances

      Features       RFC       RFR       ETC       ETR
0        State  0.022165  0.002510  0.029172  0.046480
1       County  0.133515  0.173313  0.157569  0.125288
2        Brand  0.029951  0.021464  0.038716  0.062014
3    Sub Brand  0.269422  0.202008  0.294304  0.182205
4    Bill Date  0.438740  0.473995  0.391315  0.398914
5  Covid cases  0.054509  0.051226  0.052362  0.057759
6       Months  0.047945  0.065079  0.034186  0.100116
7         Year  0.003754  0.010406  0.002377  0.027225

In [12]:
NewYork = pd.read_excel('New Microsoft Excel Worksheet.xlsx')

In [13]:
NewYork['Bill Date'] = NewYork['Bill Date'].astype(str)

In [14]:
from datetime import datetime

In [15]:
Dates = []
for date in NewYork['Bill Date'].to_list():
    try:
        p = datetime.strptime(date[:10], '%Y-%d-%m')
    except ValueError:
        p = datetime.strptime(date[:10], '%m/%d/%Y')
    Dates.append(p)
NewYork['Bill Date'] = Dates

In [16]:
NewYork

,Bill Date,Covid cases,State,County,age_median,family_size,income_household_median,education_college_or_above,labor_force_participation,unemployment_rate
0,2020-09-01,32165,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
1,2020-09-02,32218,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
2,2020-09-03,32251,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
3,2020-09-04,32310,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
4,2020-09-05,32372,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
...,...,...,...,...,...,...,...,...,...,...
56,2020-10-27,35897,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
57,2020-10-28,36076,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
58,2020-10-29,36224,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
59,2020-10-30,36400,New York,New York,36.7,2.69,88526,68.1,71.1,4.5
60,2020-10-31,36522,New York,New York,36.7,2.69,88526,68.1,71.1,4.5

In [47]:
%%time
modelRFR = RandomForestRegressor(n_estimators=100,random_state=10, bootstrap=True)
modelRFR.fit(x,y)

Wall time: 1min 59s

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=10, verbose=0, warm_start=False)

In [26]:
import joblib

In [55]:
joblib.dump(modelRFR,'.\DataModels\RFR.joblib')

['.\\DataModels\\RFR.joblib']

In [9]:
x

,Unnamed: 0,State,County,Brand,Sub Brand,Bill Date,Covid cases,Months,Year
0,0,0,3,0,4,842,1603,4,2020
1,1,0,3,0,5,792,4,3,2020
2,2,0,3,0,5,798,27,3,2020
3,3,0,3,0,6,70,0,3,2018
4,4,0,3,0,6,76,0,3,2018
...,...,...,...,...,...,...,...,...,...
390016,390016,7,396,6,419,639,0,10,2019
390017,390017,7,396,6,422,63,0,3,2018
390018,390018,7,396,6,424,478,0,4,2019
390019,390019,7,396,6,424,493,0,5,2019
390020,390020,7,396,7,22,217,0,8,2018

In [6]:
%%time
modelRFC = RandomForestClassifier(n_estimators=10,random_state=10, bootstrap=True)
modelRFC.fit(x,y)

ValueError: Number of labels=390020 does not match number of samples=390021

In [16]:
%%time
modelETC = ExtraTreesClassifier(n_estimators=10,random_state=10, bootstrap=True)
modelETC.fit(x,y)

MemoryError: could not allocate 8489271296 bytes

In [51]:
%%time
modelETR = ExtraTreesRegressor(n_estimators=100,random_state=10, bootstrap=True)
modelETR.fit(x,y)

Wall time: 39.1 s

ExtraTreesRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=None, oob_score=False,
                    random_state=10, verbose=0, warm_start=False)

In [54]:
joblib.dump(modelETR,'.\DataModels\ETR.joblib')

['.\\DataModels\\ETR.joblib']

In [3]:
NewYork = pd.read_csv('.\DataModels\Data.csv')

In [30]:
County = definedicts('.\DataModels\DICTIONARIES_DO_NOT_DEL\Counties.json')
State = definedicts('.\DataModels\DICTIONARIES_DO_NOT_DEL\States.json')
Brand = definedicts('.\DataModels\DICTIONARIES_DO_NOT_DEL\Brands.json')
SubBrand = definedicts('.\DataModels\DICTIONARIES_DO_NOT_DEL\SubBrands.json')

In [29]:
import json
def definedicts(filepath):
    with open(filepath, 'r') as file:
        NewD = json.load(file)
    return NewD

In [105]:
SubBCheck = AllData.groupby('Sub Brand').agg({'Qty':'sum', 'Brand':'first'}).reset_index()
SubBCheck[SubBCheck['Brand'] =='PCG THINK NOTEBOOK'].sort_values('Qty')

    Sub Brand     Qty               Brand
669      Z750       1  PCG THINK NOTEBOOK
489      T420       1  PCG THINK NOTEBOOK
490     T420S       1  PCG THINK NOTEBOOK
491      T430       1  PCG THINK NOTEBOOK
304      L440       1  PCG THINK NOTEBOOK
..        ...     ...                 ...
501      T470  128282  PCG THINK NOTEBOOK
566  X1C GEN6  150518  PCG THINK NOTEBOOK
505     T480S  225848  PCG THINK NOTEBOOK
506      T490  230140  PCG THINK NOTEBOOK
504      T480  265362  PCG THINK NOTEBOOK

[151 rows x 3 columns]

In [32]:
def writecols(df):
    df['State'] = State.get('New York')
    df['County'] = County.get('New York')
    df['Months'] = [date.month for date in df['Bill Date'].to_list()]
    df['Year'] = [date.year for date in df['Bill Date'].to_list()]
    df['Brand'] = Brand.get('PCG THINK NOTEBOOK')
    df['Sub Brand']= SubBrand.get('T480')
    return df

In [22]:
NewYork = writecols(NewYork)

In [23]:
NewYork

,Bill Date,Covid cases,State,County,age_median,family_size,income_household_median,education_college_or_above,labor_force_participation,unemployment_rate,Months,Year,Brand,Sub Brand
0,2020-09-01,32165,6,253,36.7,2.69,88526,68.1,71.1,4.5,9,2020,4,504
1,2020-09-02,32218,6,253,36.7,2.69,88526,68.1,71.1,4.5,9,2020,4,504
2,2020-09-03,32251,6,253,36.7,2.69,88526,68.1,71.1,4.5,9,2020,4,504
3,2020-09-04,32310,6,253,36.7,2.69,88526,68.1,71.1,4.5,9,2020,4,504
4,2020-09-05,32372,6,253,36.7,2.69,88526,68.1,71.1,4.5,9,2020,4,504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-10-27,35897,6,253,36.7,2.69,88526,68.1,71.1,4.5,10,2020,4,504
57,2020-10-28,36076,6,253,36.7,2.69,88526,68.1,71.1,4.5,10,2020,4,504
58,2020-10-29,36224,6,253,36.7,2.69,88526,68.1,71.1,4.5,10,2020,4,504
59,2020-10-30,36400,6,253,36.7,2.69,88526,68.1,71.1,4.5,10,2020,4,504
60,2020-10-31,36522,6,253,36.7,2.69,88526,68.1,71.1,4.5,10,2020,4,504

In [15]:
%%time
struct_data = NewYork.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
le = LabelEncoder()
for col in non_numeric_columns:
    if col in struct_data.columns:
        i = struct_data.columns.get_loc(col)
        struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                   result_type='expand')
df = struct_data[
                ['State', 'County', 'Brand', 'Sub Brand', 'Bill Date',
       'Covid cases', 'Months', 'Year']]
df.columns = ['State', 'County', 'Brand', 'Sub_Brand', 'Bill_Date',
       'Covid_cases', 'Months', 'Year']
Row_list = []
        # Iterate over each row
for index, rows in df.iterrows():
            # Create list for the current row
    my_list = [rows.State, rows.County, rows.Brand, rows.Sub_Brand, rows.Bill_Date,
       rows.Covid_cases, rows.Months, rows.Year]
    Row_list.append(my_list)

Wall time: 22.9 ms

In [5]:
x=pd.read_csv('.\DataModels\Xforcalc.csv')
y=pd.read_csv('.\DataModels\Yforcalc.csv')

In [6]:
modelRFR = joblib.load('.\DataModels\RFR.joblib')
modelETR = joblib.load('.\DataModels\ETR.joblib')

In [9]:
NewYork=pd.read_csv('.\DataModels\Data.csv')

In [11]:
x.shape

(390021, 8)

In [14]:
y.shape

(390020, 1)

In [16]:
RFR = modelRFR.predict(df)

In [18]:
NewYork['RFR'] = RFR

In [26]:
NY = AllData[(AllData['Year']==2020)&
            (AllData['State']=='New York')&(AllData['County']=='New York')]
NY = NY.groupby(['Year','Brand','Sub Brand','Bill Date']).agg({'Qty':'sum','Covid cases':'first','Months':'first'}).reset_index()

In [22]:
sum(NY['Qty'].to_list())

23

In [24]:
len(NY['Qty'].to_list())

14

In [35]:
Subs = NY[NY['Sub Brand'] == 'T480']
Subs.head()
Subs['Bill Date'] = pd.to_datetime(Subs['Bill Date'], dayfirst=True)

In [37]:
Subs = writecols(Subs)
Subs.head()

,Year,Brand,Sub Brand,Bill Date,Qty,Covid cases,Months,State,County
4835,2020,4,504,2020-01-04,2,0,1,6,253
4836,2020,4,504,2020-01-06,2,0,1,6,253
4837,2020,4,504,2020-01-10,1,0,1,6,253
4838,2020,4,504,2020-01-11,1,0,1,6,253
4839,2020,4,504,2020-01-14,3,0,1,6,253

In [38]:
%%time
struct_data = Subs.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
le = LabelEncoder()
for col in non_numeric_columns:
    if col in struct_data.columns:
        i = struct_data.columns.get_loc(col)
        struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                   result_type='expand')
df = struct_data[
                ['State', 'County', 'Brand', 'Sub Brand', 'Bill Date',
       'Covid cases', 'Months', 'Year']]

Wall time: 9.98 ms

In [48]:
RFR = modelRFR.predict(df)
Subs['RFR'] = RFR
Subs

,Year,Brand,Sub Brand,Bill Date,Qty,Covid cases,Months,State,County,RFR
4835,2020,4,504,2020-01-04,2,0,1,6,253,3.75
4836,2020,4,504,2020-01-06,2,0,1,6,253,3.75
4837,2020,4,504,2020-01-10,1,0,1,6,253,3.37
4838,2020,4,504,2020-01-11,1,0,1,6,253,6.54
4839,2020,4,504,2020-01-14,3,0,1,6,253,3.60
4840,2020,4,504,2020-01-15,1,0,1,6,253,2.34
4841,2020,4,504,2020-01-17,1,0,1,6,253,2.35
4842,2020,4,504,2020-01-18,2,0,1,6,253,4.53
4843,2020,4,504,2020-01-22,1,0,1,6,253,4.30
4844,2020,4,504,2020-01-23,5,0,1,6,253,2.71
4845,2020,4,504,2020-01-24,2,0,1,6,253,2.70
4846,2020,4,504,2020-01-25,5,0,1,6,253,2.70
4847,2020,4,504,2020-01-27,1,0,1,6,253,2.31
4848,2020,4,504,2020-01-28,3,0,1,6,253,2.33
4849,2020,4,504,2020-01-30,2,0,1,6,253,2.26
4850,2020,4,504,2020-01-31,2,0,1,6,253,2.26
4851,2020,4,504,2020-02-01,1,0,2,6,253,5.59
4852,2020,4,504,2020-02-04,1,0,2,6,253,5.80
4853,2020,4,504,2020-02-05,5,0,2,6,253,6.09
4854,2020,4,504,2020-02-06,1,0,2,6,253,6.22
4855,2020,4,504,2020-02-08,4,0,2,6,253,7.69
4856,2020,4,504,2020-02-11,5,0,2,6,253,10.43
4857,2020,4,504,2020-02-12,2,0,2,6,253,15.57
4858,2020,4,504,2020-02-13,1,0,2,6,253,7.04
4859,2020,4,504,2020-02-14,1,0,2,6,253,6.38
4860,2020,4,504,2020-02-18,2,0,2,6,253,12.96
4861,2020,4,504,2020-02-19,2,0,2,6,253,8.07
4862,2020,4,504,2020-02-20,3,0,2,6,253,6.52
4863,2020,4,504,2020-02-22,1,0,2,6,253,6.15
4864,2020,4,504,2020-02-25,1,0,2,6,253,6.84
4865,2020,4,504,2020-02-26,2,0,2,6,253,7.32
4866,2020,4,504,2020-02-27,1,0,2,6,253,69.45
4867,2020,4,504,2020-02-28,1,0,2,6,253,29.33
4868,2020,4,504,2020-03-04,1,1,3,6,253,13.47
4869,2020,4,504,2020-03-05,1,3,3,6,253,7.36
4870,2020,4,504,2020-03-06,1,4,3,6,253,7.45
4871,2020,4,504,2020-03-07,2,8,3,6,253,7.32
4872,2020,4,504,2020-03-09,1,11,3,6,253,7.34
4873,2020,4,504,2020-03-10,3,17,3,6,253,7.73
4874,2020,4,504,2020-03-11,4,18,3,6,253,7.98
4875,2020,4,504,2020-03-12,7,39,3,6,253,7.94
4876,2020,4,504,2020-03-13,2,48,3,6,253,7.35
4877,2020,4,504,2020-03-14,1,71,3,6,253,7.35
4878,2020,4,504,2020-03-15,1,72,3,6,253,7.43
4879,2020,4,504,2020-03-16,8,111,3,6,253,7.67
4880,2020,4,504,2020-03-17,72,277,3,6,253,11.62
4881,2020,4,504,2020-03-18,5,590,3,6,253,11.06
4882,2020,4,504,2020-04-17,1,17490,4,6,253,128.03
4883,2020,4,504,2020-04-29,1,21604,4,6,253,120.70
4884,2020,4,504,2020-06-03,1,26886,6,6,253,120.91
4885,2020,4,504,2020-06-05,1,27037,6,6,253,120.94
4886,2020,4,504,2020-06-06,1,27122,6,6,253,120.94
4887,2020,4,504,2020-06-13,1,27529,6,6,253,124.36
4888,2020,4,504,2020-08-12,1,31147,8,6,253,125.01
4889,2020,4,504,2020-08-13,1,31217,8,6,253,125.04
4890,2020,4,504,2020-08-20,1,31603,8,6,253,124.89

In [50]:
(sum(Subs['RFR'].to_list())/sum(Subs['Qty'].to_list()))/8

1.007486559139785

In [52]:
RFR = modelETR.predict(df)
Subs['ETR'] = RFR
Subs

,Year,Brand,Sub Brand,Bill Date,Qty,Covid cases,Months,State,County,RFR,ETR
4835,2020,4,504,2020-01-04,2,0,1,6,253,3.75,8.40
4836,2020,4,504,2020-01-06,2,0,1,6,253,3.75,8.40
4837,2020,4,504,2020-01-10,1,0,1,6,253,3.37,8.43
4838,2020,4,504,2020-01-11,1,0,1,6,253,6.54,8.97
4839,2020,4,504,2020-01-14,3,0,1,6,253,3.60,7.83
4840,2020,4,504,2020-01-15,1,0,1,6,253,2.34,7.87
4841,2020,4,504,2020-01-17,1,0,1,6,253,2.35,7.88
4842,2020,4,504,2020-01-18,2,0,1,6,253,4.53,8.61
4843,2020,4,504,2020-01-22,1,0,1,6,253,4.30,8.34
4844,2020,4,504,2020-01-23,5,0,1,6,253,2.71,7.74
4845,2020,4,504,2020-01-24,2,0,1,6,253,2.70,7.79
4846,2020,4,504,2020-01-25,5,0,1,6,253,2.70,7.78
4847,2020,4,504,2020-01-27,1,0,1,6,253,2.31,7.80
4848,2020,4,504,2020-01-28,3,0,1,6,253,2.33,8.03
4849,2020,4,504,2020-01-30,2,0,1,6,253,2.26,7.83
4850,2020,4,504,2020-01-31,2,0,1,6,253,2.26,7.83
4851,2020,4,504,2020-02-01,1,0,2,6,253,5.59,5.03
4852,2020,4,504,2020-02-04,1,0,2,6,253,5.80,5.04
4853,2020,4,504,2020-02-05,5,0,2,6,253,6.09,5.04
4854,2020,4,504,2020-02-06,1,0,2,6,253,6.22,5.04
4855,2020,4,504,2020-02-08,4,0,2,6,253,7.69,5.04
4856,2020,4,504,2020-02-11,5,0,2,6,253,10.43,5.04
4857,2020,4,504,2020-02-12,2,0,2,6,253,15.57,5.04
4858,2020,4,504,2020-02-13,1,0,2,6,253,7.04,5.02
4859,2020,4,504,2020-02-14,1,0,2,6,253,6.38,5.04
4860,2020,4,504,2020-02-18,2,0,2,6,253,12.96,5.04
4861,2020,4,504,2020-02-19,2,0,2,6,253,8.07,5.03
4862,2020,4,504,2020-02-20,3,0,2,6,253,6.52,5.04
4863,2020,4,504,2020-02-22,1,0,2,6,253,6.15,5.14
4864,2020,4,504,2020-02-25,1,0,2,6,253,6.84,5.14
4865,2020,4,504,2020-02-26,2,0,2,6,253,7.32,5.15
4866,2020,4,504,2020-02-27,1,0,2,6,253,69.45,16.65
4867,2020,4,504,2020-02-28,1,0,2,6,253,29.33,8.54
4868,2020,4,504,2020-03-04,1,1,3,6,253,13.47,2.81
4869,2020,4,504,2020-03-05,1,3,3,6,253,7.36,2.83
4870,2020,4,504,2020-03-06,1,4,3,6,253,7.45,2.91
4871,2020,4,504,2020-03-07,2,8,3,6,253,7.32,2.99
4872,2020,4,504,2020-03-09,1,11,3,6,253,7.34,3.00
4873,2020,4,504,2020-03-10,3,17,3,6,253,7.73,3.23
4874,2020,4,504,2020-03-11,4,18,3,6,253,7.98,3.41
4875,2020,4,504,2020-03-12,7,39,3,6,253,7.94,3.92
4876,2020,4,504,2020-03-13,2,48,3,6,253,7.35,3.42
4877,2020,4,504,2020-03-14,1,71,3,6,253,7.35,3.12
4878,2020,4,504,2020-03-15,1,72,3,6,253,7.43,3.14
4879,2020,4,504,2020-03-16,8,111,3,6,253,7.67,4.20
4880,2020,4,504,2020-03-17,72,277,3,6,253,11.62,10.88
4881,2020,4,504,2020-03-18,5,590,3,6,253,11.06,8.79
4882,2020,4,504,2020-04-17,1,17490,4,6,253,128.03,17.87
4883,2020,4,504,2020-04-29,1,21604,4,6,253,120.70,18.73
4884,2020,4,504,2020-06-03,1,26886,6,6,253,120.91,2.84
4885,2020,4,504,2020-06-05,1,27037,6,6,253,120.94,2.79
4886,2020,4,504,2020-06-06,1,27122,6,6,253,120.94,2.74
4887,2020,4,504,2020-06-13,1,27529,6,6,253,124.36,4.38
4888,2020,4,504,2020-08-12,1,31147,8,6,253,125.01,5.84
4889,2020,4,504,2020-08-13,1,31217,8,6,253,125.04,5.86
4890,2020,4,504,2020-08-20,1,31603,8,6,253,124.89,6.03

In [53]:
(sum(Subs['ETR'].to_list())/sum(Subs['Qty'].to_list()))

1.9156989247311822

In [1]:
def writecols(df,state,county,brand=None,subbrand=None):
    if brand == None and subbrand==None:
        df['Bill Date']=pd.to_datetime(df['Bill Date'],dayfirst=True)
        df['State'] = State.get(state)
        df['County'] = County.get(county)
        df['Months'] = [date.month for date in df['Bill Date'].to_list()]
        df['Year'] = [date.year for date in df['Bill Date'].to_list()]
    else:
        df['Bill Date']=pd.to_datetime(df['Bill Date'],dayfirst=True)
        df['State'] = State.get(state)
        df['County'] = County.get(county)
        df['Months'] = [date.month for date in df['Bill Date'].to_list()]
        df['Year'] = [date.year for date in df['Bill Date'].to_list()]
        df['Brand'] = Brand.get(brand)
        df['Sub Brand']= SubBrand.get(subbrand)
    return df

def predictor(df,state,county,brand=None,subbrand=None,method):
    '''Mehtod = Natural_Hist/PandemicRegressor'''
    df = writecols(df,state,county,brand,subbrand)
    struct_data = df.copy()
    non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
    le = LabelEncoder()
    for col in non_numeric_columns:
        if col in struct_data.columns:
            i = struct_data.columns.get_loc(col)
            struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                       result_type='expand')
    if method == 'Natural_Hist':
        DataFrame = struct_data[['State', 'County', 'Bill Date', 'Months']]
        model= joblib.load(f'.\DataModels\State\Predict Sales\{state}\History_Sales.joblib')
        Preds = model.predict(Dataframe)
        df['Nhist'] = Preds
        return df
    elif method == 'PandemicRegressor':
        DataFrame = struct_data[
                ['State', 'County', 'Brand', 'Sub Brand', 'Bill Date',
       'Covid cases', 'Months', 'Year']]
        model=joblib.load('.\DataModels\State\Predict Sales\ETR.joblib')
        df['PandemicSales'] = model.predict(DataFrame)
        return df

SyntaxError: non-default argument follows default argument (<ipython-input-1-acffd1796734>, line 18)

In [7]:
import Predictor

In [8]:
BySubBrand = AllData.groupby(['State','County','Brand','Sub Brand','Bill Date']).agg({'Qty':'sum','Covid cases':'first','Months':'first', 'Year':'first'}).reset_index()

In [9]:
BySubBrand

,State,County,Brand,Sub Brand,Bill Date,Qty,Covid cases,Months,Year
0,California,Alameda,LENOVO-CHROME,100E CHROME 2ND GEN AST,2020-04-30,1,1603,4,2020
1,California,Alameda,LENOVO-CHROME,100E CHROME 2ND GEN MTK,2020-03-11,2,4,3,2020
2,California,Alameda,LENOVO-CHROME,100E CHROME 2ND GEN MTK,2020-03-17,1,27,3,2020
3,California,Alameda,LENOVO-CHROME,100E CHROMEBOOK,2018-03-13,250,0,3,2018
4,California,Alameda,LENOVO-CHROME,100E CHROMEBOOK,2018-03-19,11,0,3,2018
...,...,...,...,...,...,...,...,...,...
390016,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P53S,2019-10-08,1,0,10,2019
390017,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P71,2018-03-06,1,0,3,2018
390018,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P72,2019-04-29,1,0,4,2019
390019,Utah,Weber,PCG WORKSTATION-NOTEBOOK,P72,2019-05-14,1,0,5,2019
390020,Utah,Weber,THINK-CHROME,11E CHROMEBOOK,2018-08-08,1,0,8,2018

In [14]:
def createPandemicModel(state):
    State = BySubBrand[BySubBrand['State'] == state]
    struct_data = State.copy()
    non_numeric_columns = list(struct_data.select_dtypes(exclude=[_np.number]).columns)
    le = LabelEncoder()
    for col in non_numeric_columns:
        if col in struct_data.columns:
            i = struct_data.columns.get_loc(col)
            struct_data.iloc[:, i] = struct_data.apply(lambda i: le.fit_transform(i.astype(str)), axis=0,
                                                       result_type='expand')
    x = struct_data[
                ['State', 'County', 'Brand', 'Sub Brand', 'Bill Date',
       'Covid cases', 'Months', 'Year']]
    y = struct_data['Qty']
    model = ExtraTreesRegressor(n_estimators=100,random_state=42, bootstrap=True)
    model.fit(x,y)
    joblib.dump(model, f'.\DataModels\State\Predict Sales\{state}\Pandemic_Sales.joblib')

In [11]:
%%time
state = 'California'
createPandemicModel(state)

Wall time: 21.2 s

In [15]:
%%time
for state in BySubBrand['State'].unique():
    createPandemicModel(state)

Wall time: 1min

In [ ]:
Data = pd.read_csv('2018-2020 Sales,COVID,Demogrphics,Types.csv')
Data['Bill Date'] = pd.to_datetime(Data['Bill Date'],dayfirst=True)
%%time
Stateq = {}
for newstate in Data['State'].unique():
    Statedf = Data[(Data['State'] == newstate)&(Data['Year'] == 2020)]
    Statedf = Statedf.groupby(['State','County','Brand','Sub Brand',
                                'Bill Date']).agg({'Covid cases': 'first', 'Qty':'sum'}).reset_index()
    countyq = {}
    for newcounty in Statedf['County'].unique():
        new = Statedf[Statedf['County'] == newcounty]
        new.columns=['State', 'County', 'Brand', 'Sub Brand', 'Bill Date', 'Pandemic cases Cumulative',
               'Qty']
        q = pr.predictor(new, newstate, newcounty, method='Natural_Hist')
        countyq.update({newcounty:q})
    Stateq.update({newstate:countyq})

In [ ]:
G = Data.groupby(['State','County','Brand','Sub Brand','Bill Date']).agg({'Covid cases':'first','Qty':'sum','CCG ':'first',
                                                                         'LDW':'first','Months':'first'}).reset_index()
G.columns=['State', 'County', 'Brand', 'Sub Brand', 'Bill Date',
       'Pandemic cases Cumulative', 'Qty', 'CCG ', 'LDW', 'Months']
G = G.sort_values('Bill Date').reset_index().drop(columns='index')
%%time
States = {}
for state in G['State'].unique():
    df = G[G['State']==state]
    Counties = {}
    for county in df['County'].unique():
        df2 = G[(G['State']==state)&(G['County']==county)]
        q=predictor(df2,state,county,'PandemicRegressor')
        qList.append(q)
        Counties.update({county:q})
    States.update({state:Counties})
with open(r'.\DataModels\DICTIONARIES_DO_NOT_DEL\StateQValsPan.json','w') as jsonfile:
    json.dump(States,jsonfile)